.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #0252a2;
    height: 110px;
}

.spacer {
    flex: 1;
}

.logo {
margin-left: 1rem;
}

.navbar_navigation_item ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar_navigation_item li {
    padding: 0 0.5rem
}

.navbar_navigation_item a {
    color: black;
    text-decoration: none;
}

.navbar_navigation_item a:hover,
.navbar_navigation_item a:active {
    color: yellow;
}