@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
}

html {
  background-color: #faedcd;
}

.header {
  position: fixed;
  background-color: #c4f8ef;
  height: 15%;
  width: 100%;
}

.footer {
  background-color: #faedcd;
  bottom: 0;
  position:fixed;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #4d493e;
}

.Logo-res {
  display: flex;
  justify-content: space-around;
  margin-bottom: 7px;
}

h2, p {
  font-size: 15px;
}

.title {
  font-size: 20px;
  display: flex;
  justify-content: center;
  color: #4d493e;
  align-items: flex-end;

}

h1 {
  font-size: 30px;
  height: 126px;
  display: flex;
  justify-content: center;
  align-items: center;
}