@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
}

html {
  background-color: #fdf4e1;
}

.header {
  position: fixed;
  background-color: #bde0ff;
  height: 15%;
  width: 100%;
}

.footer {
  background-color: #bde0ff;
  bottom: 0;
  position:fixed;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}

.Logo-res {
  display: flex;
  justify-content: space-around;
  margin-bottom: 7px;
}

h2, p {
  font-size: 15px;
}